<form (ngSubmit)="onSubmit();" [formGroup]="formReactive " class="wrapper">
  <legend style="text-align: center; color: blue; border-bottom: 2px solid #000000">LOGIN</legend>
  <div>
    <label>Name: </label>
    <br>
    <input placeholder="Enter Name" formControlName='name'>
    <p style="color: red" *ngIf="formReactive.get('name').invalid && formReactive.get('name').touched">Name required</p>
    <br>
  </div>

  <div>
    <label>Email: </label>
    <br>
    <input placeholder="Enter Email" formControlName="email">
    <p style="color: red" *ngIf="formReactive.get('email').errors?.required  && formReactive.get('email').touched">Email required</p>
    <p style="color: red" *ngIf="formReactive.get('email').errors?.email  && formReactive.get('email').touched">Please re-enter Email</p>
    <br>
  </div>

  <div>
    <label>Password: </label>
    <br>
    <input type="password" placeholder="Enter Password" formControlName='password'>
    <p style="color: red" *ngIf="formReactive.get('password').errors?.required && formReactive.get('password').touched">Password required</p>
    <p style="color: red" *ngIf="formReactive.get('password').errors?.minlength && formReactive.get('password').touched">Password must be a least 6 </p>
    <br>
  </div>

  <div>
    <label>Confirm Password: </label>
    <br>
    <input type="password" placeholder="Enter Confirm Password" formControlName='confirm'>
    <p style="color: red" *ngIf="formReactive.get('confirm').invalid && formReactive.get('confirm').touched">*Password and confirm password should match</p>
    <p style="color: red" *ngIf="formReactive.get('confirm').errors?.required && formReactive.get('confirm').touched">*Confirm password required</p>
    <br>
  </div>

  <div>
    <label>User Image</label>
    <br>
    <img>
    <input type="file" formControlName='img'>
    <p style="color: red" *ngIf="onCheckImg();">{{ErrorImg}}</p>
  </div>

  <div>
    <label>Gender</label>
    <br>
    <label>
      <input type="radio" formControlName="gender" value="male">Male</label>
    <label>
      <input type="radio" formControlName="gender" value="female">Female</label>
    <p *ngIf="onCheckGender();" style="color: red">{{Error}}</p>
  </div>


  <div formGroupName="hobby">
    <label>Hobbies</label>
    <br>
    <label>
      <input type="checkbox" name="game" formControlName="game">Game</label>
    <br>
    <label>
      <input type="checkbox" name="sport" formControlName="sport">Sport</label>
    <br>
    <label>
      <input type="checkbox" name="travel" formControlName="travel">Travel</label>
    <br>
    <label>
      <input type="checkbox" name="readingbook" formControlName="readingbook">Reading Book</label>
    <br>
    <p *ngIf="onCheckHobby();" style="color: red">{{Error}}</p>
  </div>
  <br>
  <button [disabled]="formReactive.invalid"> Submit </button>
</form>